/*
.edu-nsw-act-hand-pre-<uniquifier> {
  font-family: "Edu NSW ACT Hand Pre", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

body {
    background-image: url("images/planning.jpg");
    background-size: cover;
}

.navcard {
    display: block;
    position: relative;
    top: 200px;
    background-color: rgb(43, 53, 43);
    color: ghostwhite;
    box-shadow: 0 10px 15px 0 rgb(86, 90, 82);
    border: 2px solid rgb(86, 90, 82);
    border-radius: 5px;
    width: 25%;
    margin: auto;
    padding: 50px;
    font-family: "Edu NSW ACT Hand Pre", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: larger;
}

.navcard h1 {
    text-align: center;
    text-decoration: underline;
}

.navcard a {
    color: ghostwhite;
    text-decoration: none;
     font-family: "Edu NSW ACT Hand Pre", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: larger;
}

footer {
    position: fixed;
    bottom: 10px;
    left: 20px;
}